# general configuration
LOG_LEVEL="The level to display log messages. Use: DEBUG | ERROR | INFO | SILENT | WARN"

# llm configuration
MODEL="The name of the model that LangChain will use, e.g. llama3.1:8b"
MODEL_BASE_URL="The base URL of the model"
